/* Code blocks */
/* .code--keyword {
  color: rgb(115, 193, 201);
}

.code--operators {
  color: rgb(127, 121, 190);
}

.code--features {
  color: rgb(188, 89, 118);
}

.code--variables {
  color: rgb(123, 191, 141);
}

.code--comments {
  color: rgb(80, 80, 80);
}

.code--line {
  display: inline-block;
  margin-left: 10px;
  margin-top: 3px;
} */

.code--wrapper {
  /* background-color: rgb(33, 33, 33); */
  /* color: white; */
  /* padding: 10px; */
  font-size: 1rem;
  font-family: "JetBrains Mono", monospace;
}

/* Homepage */
.link-wrapper {
}

/* Components */
.category {
  margin-left: 10px;
  background-color: rgb(240, 240, 240);
  padding: 4px;
  border-radius: 5px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}
