:root {
  --btn-fg: white;
  --btn-bg: rgb(70, 90, 100);

  --link-fg: black;
  --link-hov: blue;
}

body {
  background-color: rgb(250, 250, 252);
  box-sizing: border-box;
}

.button {
  border: 2px solid var(--btn-bg);
  border-radius: 3px;
  background-color: var(--btn-bg);
  color: var(--btn-fg);
  width: fit-content;
  padding: 5px;
  cursor: pointer;
  width: 150px;

  transition: 200ms;
}

.button:hover {
  filter: brightness(0.9);
}

.button-1 {
  transition: 200ms;
  border: 2px solid var(--btn-bg);
  border-radius: 3px;
  background-color: var(--btn-fg);
  color: var(--btn-bt);
  width: fit-content;
  padding: 5px;
  cursor: pointer;
  width: 150px;
}

.button-1:hover {
  filter: brightness(0.9);
}

/* Items */
.pointer {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
  filter: brightness(0.8);
}

/* Text */
.capitalize {
  text-transform: capitalize;
  display: inline-block;
}

.text-small {
  font-size: 0.8rem;
}

.text-normal {
  font-size: 1rem;
}

.text-medium {
  font-size: 1.25rem;
}

.text-big {
  font-size: 1.5rem;
}

.text-bigger {
  font-size: 1.75rem;
}

.text-biggest {
  font-size: 2rem;
}

.text-success {
  color: rgb(100, 200, 100);
}

.text-fail {
  color: rgb(200, 75, 75);
}

.text-thin {
  font-weight: 200;
}

.text-bold {
  font-weight: bold;
}

.text-light {
  color: rgb(100, 130, 130);
}

.text-dark {
  color: black;
}

/* Difficulties */
.diff-easy {
  color: rgb(15, 145, 130);
}

.diff-medium {
  color: rgb(240, 180, 30);
}

.diff-hard {
  color: rgb(215, 50, 85);
}

/* Sections */
.section {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 10px;
  margin: 5px 0;
}

/* Pages */
.page {
  display: block;
  margin: 0 auto 64px auto;
  width: 98vw;
  max-width: 1600px;
  min-width: 350px;
}

/* Links */
.link {
  cursor: pointer;
  text-decoration: none;
  color: var(--link-fg);
  transition: 100ms;
}

.link:hover {
  text-decoration: underline;
  color: var(--link-hov);
}

/* Position */
.flex-align {
  display: flex;
  align-items: center;
}

.flex-jusitfy {
  display: flex;
  justify-content: center;
}

/* Margin */
.m-left-small {
  margin-left: 5px;
}

.m-left-med {
  margin-left: 10px;
}
